/* resets etc */

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* titles */

h5 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Pontano Sans';
    padding: 0;
    margin: 0;
    font-size: 25px;
    padding-bottom: 50px;
}

h3 {
    font-family: 'Pontano Sans';
    padding: 0;
    margin: 0;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 300;
}

.question-title {
    font-size: 18px;
    font-weight: 300;
}

/* danger */
#root { 
    background-color: #b1d9eb;
    background-image: url('/banana.png');
    background-repeat: repeat;
    background-size: 84px;

}

.backOfCard {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/* contains all pages */

.main-container {
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    background-color: #b2d9eb;
    height: 100vh;
    font-family: 'Roboto'
}

.top-gradient {
    position: absolute;
    width: 130%;
    left: -15%;
    top: -10px;
    height: 360px;
    background-color: #ee936d;
    z-index: 0;
    border-bottom-left-radius: 532px;
    border-bottom-right-radius: 492px;
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}
.recipe-contain {
    position: relative;
}

.final-button {
    color: black;
    background-color: #ee936d;
    font-weight: 800;
    padding: 15px;
    width: 157px;
    text-align: center;
    border-radius: 100px;
    margin-bottom: 20px;
}

.makesome {
}

.recipename {
    max-width: 300px;
    font-family: 'Pontano Sans';
    padding: 0;
    margin: 0;
    font-size: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}
.final-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    top: 30px;
    background-position: center;
}

.final-button-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
}

.main-container--landing-page {

    text-align: center;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 550px;
}

.logo {
    opacity: 0;
    width: 300px;
}

.card {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    position: absolute;
    margin: 0 auto;
    /* padding-top: 50px; */
    text-align: center;
    background-color: #b2d9eb;
    height: 100vh;
    font-family: 'Roboto'
}

.card-container {
    position: relative;
}

/* buttons */


button:focus {outline:0;}

.opacity {
    opacity: 0;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    /* transition: all 0.2s; */
}

.diet-button-container {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.diet-button {
    opacity: 0;
    user-select: none;
    background-color: #f3d36d;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 5px;
}

.diet-button--selected {
    background-color: #f3d36d;
    width: 120px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 5px;
}

.start-button {
    opacity: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    background-color: #ee936d;

}

.question-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 280px;
    padding: 5px;
}

.question-contain {
    opacity: 0;
    position: relative;
}

.question-button {
    position:relative;
    width: 120px;
    height: 120px;
    top: 800px;
    margin-bottom: 20px;
    background-color: #ee936d;
    border-radius: 150px;
    margin: 10px;
}

.question-button:active{
    color: black;
  }

.ovalbutton {
    position: relative;
    cursor: pointer;
    user-select: none;
}



.ovaltext {
    user-select: none;
    cursor: pointer;
    pointer-events: none;
}

.no-pointer{
    cursor: default !important;
}

.single-question-button-contain {
    height: 140px;
    width: 140px;
}
.oval-question-button-contain {
    height: 120px;
    width: 200px;
    position: relative;
    left: 50px;
    margin: 0 auto;
}



/* help page link */

.help {
    opacity: 0;
    position: absolute;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
}